.interfaces-table {
  .pf-v6-c-table__expandable-row {
    border: none;

    & > td {
      padding: var(--pf-t--global--spacer--md);
    }
  }

  tbody > tr > :first-child::after {
    content: none;
  }

  tbody .interfaces-table__interface-type-row {
    border-bottom: none;
    --pf-v6-c-table--cell--first-last-child--PaddingInline: 1rem;

    &:not(:first-child) td {
      padding-top: var(--pf-t--global--spacer--sm);
    }

    &:not(:last-child) td {
      padding-bottom: var(--pf-t--global--spacer--sm);
    }

    .expandable-section-interface-type .pf-v6-c-button__text {
      font-weight: bold;
      color: var(--pf-t--global--text--color--subtle);
    }
  }

  tbody .interfaces-table__interfaces-expandable-row {
    &:not(:first-child) td {
      padding-top: var(--pf-t--global--spacer--sm);
    }

    &:not(:last-child) td {
      padding-bottom: var(--pf-t--global--spacer--sm);
    }

    &__status-icon {
      color: var(--pf-t--global--icon--color--subtle);
      margin-right: var(--pf-t--global--spacer--sm);
    }

    &__column-name {
      width: 30%;
    }
  }
}
