.nmstate-topology {
  &__sidebar {
    left: 0;
    right: auto;

    &__content {
      height: 100%;
    }
  }

  .pf-v6-c-wizard__nav {
    width: 200px;
  }
}

.pf-topology-side-bar.nmstate-topology__sidebar.big-sidebar {
  @media (min-width: 768px) {
    max-width: 100%;
  }
}

.nmstate-plugin-interface-drawer-yaml-footer {
  position: sticky;
  bottom: 0;
  padding: var(--pf-t--global--spacer--md) 0;
  background-color: var(--pf-v6-c-page__main-section--BackgroundColor);
}
