.pf-v6-c-toolbar__group.pf-topology-view__view-toolbar {
  width: 100%;
  padding-left: 200px;
  .pf-v6-c-toolbar {
    width: 100%;
  }
}

div[id^='pf-topology-view-'] {
  padding-bottom: 0;
}

.topology-toolbar {
  width: 100%;
  padding: var(--pf-t--global--spacer--md) 0;
  &__content {
    padding: 0 var(--pf-t--global--spacer--md);
  }

  .pf-v6-c-toolbar__content-section {
    justify-content: space-between;
  }
}

.topology-filter {
  &__toggle {
    width: 200px;
  }
  &__icon {
    margin-right: var(--pf-t--global--spacer--sm);
  }
}
